:root {
  --black: #3a3a3a;
  --white: #fff;
  --green: #f6da3f;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
#black_rectangle{
  width:1550px;
  height:63px;
  margin-top: 47px;
  background: #000000;
}
.black_rectangle2{
  width:1550px;
  height:600px;
  margin-top: 5px;
  background: #222222;
}
.baner{
    opacity: 0.25;
    -o-object-fit: cover;
      object-fit: cover;
      position: relative;
      width: 100%;
      height: 100%;
      top: 100;
      left: 0;
}
 #bag{
  margin-top: 5px;
 }

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--black);
  font: 1rem/1.3 sans-serif;
}

.author-archive {
  margin-bottom: 50px; 
  margin-right: 20px;
}

.container {
  max-width: 1519px;
  margin: 0 auto;
}

h1 {
  opacity: 0.80;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 110px;
  position  : absolute;
  text-align: center;
  top   : 330px;
  left    : 200;
  width   : 100%;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);}

h1 a {
  transition: all 0.1s;
}

h1 a:hover {
  background: var(--green);
  color: var(--white);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

#text{
  text-align: center;
  font-size: 22px;  
  letter-spacing: 2px;
  font-family: 'Ubuntu', sans-serif;
}

/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--green);
  color: var(--white);
}


/* FILTERED ELEMENTS (POSTS)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
  display: grid;
  margin-left: 5px;
  margin-right: 5px;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}




/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="All"]:checked ~ .filters [for="All"],
[value="Jackets"]:checked ~ .filters [for="Jackets"],
[value="Jeans"]:checked ~ .filters [for="Jeans"],
[value="Shorts"]:checked ~ .filters [for="Shorts"],
[value="Sweatshirts"]:checked ~ .filters [for="Sweatshirts"],
[value="Dresses"]:checked ~ .filters [for="Dresses"],
[value="Shirts"]:checked ~ .filters [for="Shirts"],
[value="T-shirts"]:checked ~ .filters [for="T-shirts"],
[value="Suits"]:checked ~ .filters [for="Suits"],
 {
  background: var(--green);
  color: var(--white);
}

[value="All"]:checked ~ .posts [data-category] {
  display: block;
}

[value="Jackets"]:checked ~ .posts .post:not([data-category~="Jackets"]),
[value="Jeans"]:checked ~ .posts .post:not([data-category~="Jeans"]),
[value="Shorts"]:checked ~ .posts .post:not([data-category~="Shorts"]),
[value="Sweatshirts"]:checked ~ .posts .post:not([data-category~="Sweatshirts"]),
[value="Dresses"]:checked ~ .posts .post:not([data-category~="Dresses"]),
[value="Shirts"]:checked ~ .posts .post:not([data-category~="Shirts"]),
[value="T-shirts"]:checked ~ .posts .post:not([data-category~="T-shirts"]),
[value="Suits"]:checked ~ .posts .post:not([data-category~="Suits"]) {
  display: none;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}